version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: person_reid_backend
    ports:
      - "4001:8000"
    env_file:
      - .env
    environment:
      REDIS_HOST: person_reid_redis
      POSTGRES_HOST: posgrest-postgres_db-1
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
    networks:
      - person-reid-network
      - posgrest_default
      - redis_default
    external_links:
      - person_reid_redis:person_reid_redis

networks:
  person-reid-network:
    external: true
    name: person_reid_network
  posgrest_default:
    external: true
  redis_default:
    external: true